body{
    user-select: none;
    margin:0;
    background-color: rgb(196, 196, 196);
}
.container {
    margin:0 auto;
    max-width: 980px;
    background-color: rgb(163, 27, 84);
    height:700px;
}
.noose{
    position:fixed;
    top:0;
    z-index:1;
}

.menu-letter{
    cursor:pointer;
    padding:10px;
    background-color: #fff;
    border:1px solid black
}
.menu-letter:hover{
    background-color: rgb(139, 139, 139);

}
nav,footer{
    background-color: #fff;
    height:40px;
}
.words-container{
    /* margin-top:50px;     */
}
.letters-container{
    margin-bottom: 20px;
}
.letter{
 
    text-align: center;
    font-size:50px;
    padding:10px;
    background-color: white;
    width:50px;
    height:50px;
    margin:10px;
    margin-bottom: 100px;
}
.hidden{
    background-color: transparent;
    color: transparent;
    border-bottom: 1px solid black;
}
.flex{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}
.selected-letter{
    background-color: orange;
}
.select{
    font-size:30px;
}
.messege{
    color:white;
    font-size:40px;
}
.grid-item{
    color: blue;
    padding:10px;
    border: 1px solid black;
    background-color: white;
}
.grid{
    display: grid;
    grid-template-columns: repeat(8,20px);
    grid-template-rows: repeat(8,20px);
    grid-gap:2px;
}
.modal{
    position:fixed;
    top:0;
    left:0;
    background-color: rgb(170, 167, 167);
    height:100%;
    width:100%;
}
select{
    font-size:30px;
    height:50px;
    border:1px solid black;
}
