body {
    user-select: none;
    margin: 0;
    background-color: rgb(196, 196, 196);
}

.container {
    margin: 0 auto;
    max-width: 980px;
    background-color: rgb(163, 27, 84);
    height: 400px;
}

.noose {
    position: fixed;
    top: 10px;
    left:0;
    z-index: 1;
}

.menu-letter {
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    border: 1px solid black
}

.menu-letter:hover {
    background-color: rgb(139, 139, 139);
}

nav,
footer {
    background-color: #fff;
    height: 40px;
}

.words-container {
    text-align: center;
}

.letters-container {
    margin-bottom: 20px;
    z-index: 5;
}

.letter {

    text-align: center;
    font-size: 50px;
    padding: 10px;
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-bottom: 100px;
}

.hidden {
    background-color: transparent;
    color: transparent;
    border-bottom: 1px solid black;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.selected-letter {
    background-color: orange;
}

.select {
    font-size: 30px;
}

.messege {
    color: white;
    font-size: 40px;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(170, 167, 167);
    height: 100%;
    width: 100%;
}

select {
    font-size: 20px;
    height: 50px;
    border: 1px solid black;
}
@media (max-width: 600px){
    select{
        font-size: 20px;
        height: 50px;
        border: 1px solid black;
    }
    .noose {
        position: fixed;
        top: 350px;
        left:150px;
        z-index: 1;
    }
    .container {
        margin: 0 auto;
        max-width: 980px;
        background-color: rgb(163, 27, 84);
        height:600px;
    }
    .letter {
        text-align: center;
        font-size: 20px;
        padding: 10px;
        background-color: white;
        width: 10px;
        height: 20px;
        margin: 10px;
        margin-bottom: 100px;
    }
    .hidden {
        background-color: transparent;
        color: transparent;
        border-bottom: 1px solid black;
    }
}